.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #100c08;
}

.navbar__logo {
    font-size: 1.5rem;
    font-weight: bold;
    color: #ffd700;
}

.social-icons {
    display: flex;
    gap: 1rem;
}

.social-icons li a {
    color:#48D1CC;
    font-size: 1.5em;
    transition: color 0.3s;
}

.social-icons li a:hover {
    color:#ffd700;
}


.navbar__menu {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    margin: 0;
    padding: 0;
}

.navbar__item {
    text-decoration: none;
    color: #ffd700;
}

.navbar__item a {
    text-decoration: none;
    color: #ffd700;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar__link {
    text-decoration: none;
    color: #ffd700;
    font-size: 1rem;
    transition: color 0.3s;
}

.navbar__link:hover {
    color: #ffd700;
}